# Mac Environment
.DS_Store
*.vscode

#DB Storage file 
src/disk/
*.bin

# Outputs
infra_outputs
staff_test
student_outputs
generated_data

# Docs
html/
latex/
Doxyfile
docs/colDbDesign.drawio - draw.io_files/
docs/colDbDesign.drawio\ -\ draw.io.html
src/draft/

# Object files
obj/*
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*

# Executables
*.out
bin/*
server
client
.deps

#ide stuff
tags
Tags
*.swp

# other
r*hs # vtune output
.deps # makefile temps

status.current_container_id
